.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}

.Rate {
  display: flex;
  width: 300px;
  border: 1px solid #cecece;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: cornsilk;
}

.Rate h1 {
  margin-right: 10px;
  cursor: pointer;
  font-size: 50px;
  /* color: red */
}
